Map?=Hash
LoopDetector?=GPS
FeatureDetector?=Sift
Tracker?=opt
Mapper?=demo
Matcher?=multiH
Initializer?=svd

SLAM=libpislam
if $(FeatureDetector)=Sift
Vocabulary?=sift_10_4_tf_l1.gbow
else
Vocabulary?=orb_10_5_tfidf_l1.gbow
endif


DisableTrackLastFrame?=0
EnableTrackSubMap?=1
BundlePlugin?=libgslam_optimizer_xx //if you installed OptimizerPBA please use "libgslam_optimizerPBA" to accelerate

#Dataset?=/mnt/server0/users/zhaoyong/Dataset/NPU/RTMapper/dronemap/phantom3-npu/phantom3-npu.rtm
#Dataset?=/home/bushuhui/pis/dataset_selected/20170314_Korla/gslam.cvmono
Dataset=/home/bushuhui/msdk/my_progs/pi-lab/demo_codes/cv_robotics/phantom3-npu/phantom3-npu.rtm

SLAM.Feature   ?= $(FeatureDetector)
SLAM.Vocabulary?= $(Vocabulary)
SLAM.nFeature  ?= 1000
SLAM.isOnline  ?= 1
SLAM.RestartWhenLost ?= 0
SLAM.MaxOverlap?= 0.95
SLAM.MaxLoopDistance=400

AutoStart=1
AutoQuit=0
EnableFitGPS?=0
